<html ng-app="app5" ng-cloak>
<head>
  <title>Exercise 5</title>
  <style>
  [ng\:cloak],[ng-cloak],.ng-cloak{
    display:none;
  }
  table{
    width:400px;
    text-align:left;
    border:3px solid black;
    padding:15px;
  }
  input.ng-dirty.ng-invalid{
    border-color:red;
  }
  </style>
</head>
<body>
  <div id="groceryList" ng-controller="gListCtrl">
    <h3>Grocery List</h3>
    <table>
      <thread>
        <tr>
          <th>Item</th>
          <th>Purchased</th>
        </tr>
      </thread>
      <tr ng-repeat="grocery in groceries">
        <td>{{grocery.item}}</td>
        <td>
          <input type="checkbox" ng-model="grocery.purchased" />
        </td>
      </tr>
    </table>
    <br>
    <label>New Item
      <input type="text" ng-model="newItem" />
    </label>
    <button ng-click="addItem(newItem)">Add Item </button>
    <h4>{{missingNewItemError}}</h4>
  </div>
  <div ng-controller="userCtrl">
    <form name="userForm" ng-submit="saveUser(userInfo)">
      <label>First Name:</label>
      <input type="text" name="fName" ng-model="userInfo.fName" ng-required="true" ng-minLength="2" />
      <span class="error-message" ng-show="userForm.fName.$dirty && userForm.fName.$error.required">Enter the anem first</span>
      <br><br>
      <label>Street:</label>
      <input type="text" name="street" ng-model="userInfo.street" ng-required="true" ng-minlength="6" ng-pattern="/^(\d{3,})\s?(\w{0,5})\s([a-zA-Z]{2,30})\s([a-zA-Z]{2,15})\.?\s?(\w{0,5})$/" />
      <span class="error-message" ng-show="userForm.street.$dirty" && userForm.street.$invalid">Enter a Number, Street, and Street Type</span>
      <br>
      
