<html ng-app="proj" ng-cloak>
<head>
  <title>Crime Project</title>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js" type="text/javascript"></script>
  <style>
  [ng\:cloak],[ng-cloak], .ng-cloak{
    display:none;
  }
  .thick{
    font-weight:bold;
  }
  h1{
    font-size:36px;
  }
  table{
    text-align: center;
    width:700px;
    height:400px;
  }
  </style>
</head>
<body>
  <center>
    <h1> CRIME DATA PROJECT </h1>
    <hr/>
  <div ng-controller="myCtrl" ng-app="myApp">
          <label>Year</label>
          <select ng-model="year">
          <option ng-repeat="x in year ">{{x}}</option>
          </select>

          <br><br>
          <form name="userValid">
          <label>Theft you need</label>
          <select ng-model="theft">
          <option>Over $500</option>
          <option>Under $500</option>
          </select>

          <label>Enter the Value</label>
          <input type="text" name="values" ng-model="fvalue"
          ng-required="true" ng-minlength="4"/>

          <span class="error-message" ng-show="userValid.values.$dirty
          && userValid.values.$error.minlength">Must be a Minimum of 4 Characters</span>

          <br><br>

          <label>Sort by</label>
          <select ng-model="sortby">
          <option>Ascending</option>
          <option>Descending</option>
        </select>

          <label>Sort Option</label>
          <select ng-model="sortopt">
            <option>Year</option>
            <option>Over$500</option>
            <option>Under$500</option>
          </select>

        <br><br><br>

          <button ng-click="validSearch(year,theft,fvalue)">SEARCH</button>
        </form>
        <br>
        <hr/>

<!-- <div ng-controller="dispCtrl"> -->

     <table border=2>
       <tr>
         <th>Year</th>
         <th>Over $500</th>
         <th>Under $500</th>``
       </tr>
       <tr ng-repeat="c in year | startFrom: start | limitTo:3">
         <td>{{c}}</td>
         <td>{{datas[c].Over$500}}</td>
         <td>{{datas[c].Under$500}}</td>
       </tr>
   </table>
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
</div>









  </div>
</center>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="../js/projang.js"></script>
</body>
</html>
